$primaryTextColor: #2C0C5F;
$secondaryTextColor: #FFFFFF;
$primaryBackgroundColor: #2C0C5F;
$secondaryBackgroundColor: lightgray;
$lightgray: lightgray;
$midnightblue: midnightblue;
$layoutGap: 10rem;
$fivePadding: 5rem;
$headingText: 1.5rem;