@import 'variables.scss';

.main-header {
    // background-color: $primaryBackgroundColor;
    // color: $secondaryTextColor;
    border-bottom: 1px solid $lightgray;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.header-logo {
    font-size: 2rem;
    font-weight: 600;
}
.header-link {
    text-decoration: none;
    color: $midnightblue;
}
.header-menu {
    display: flex;
    justify-content: end;
    align-items: center;
}
.header-menu-item {
    padding: 0rem 1rem;
}
.bars-icon {
    font-size: 2.45rem;
    cursor: pointer;
}
.header-dropdown-menu {
    position: absolute;
    right: 0;
    padding: 1rem;
    border: 1px solid $lightgray;
}
.header-dropdown-menu-item {
    cursor: pointer;
}
.header-dropdown-menu-item:not(:last-child) {
    padding-bottom: 1rem;
}
.menu-text {
    padding-left: 1rem;
}